.list-container {
  width: 50%;
  height: 50%;
  border: 2px solid #C9c9c9;
  overflow-y: scroll;
}

.list-container > table {
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {background:blue}
tr:nth-child(odd) {background:white}

