.list-container {
    width: 50%;
    height: 50%;
    border: 2px solid #C9c9c9;
    overflow-y: scroll;
}
.evenClassName {
    background-color: green;
}

.oddClassName {

    background-color: red;

}

.list-container > table {
    border-collapse: collapse;
}