.App {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  background: none;
}
.row:nth-of-type(even){
  background: lightskyblue;
}